<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.achievo.yamba_lecture"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <permission
        android:description="@string/send_timeline_notifications_permission_description"
        android:label="@string/send_timeline_notifications_permission_label"
        android:name="com.achievo.yamba_lecture.SEND_TIMELINE_NOTIFICATIONS"
        android:permissionGroup="android.permission-group.PERSONAL_INFO"
        android:protectionLevel="normal" />
    <permission
        android:description="@string/receive_timeline_notifications_permission_description"
        android:label="@string/receive_timeline_notifications_permission_label"
        android:name="com.achievo.yamba_lecture.RECEIVE_TIMELINE_NOTIFICATIONS"
        android:permissionGroup="android.permission-group.PERSONAL_INFO"
        android:protectionLevel="normal" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.marakana.yamba.SEND_TIMELINE_NOTIFICATIONS" />
    <uses-permission android:name="com.marakana.yamba.RECEIVE_TIMELINE_NOTIFICATIONS" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name=".YambaApplication" >
        <activity
            android:label="@string/titleStatus"
            android:name=".StatusActivity" >
        </activity>
        <activity
            android:label="@string/titlePrefs"
            android:name=".PrefsActivity" >
        </activity>
        <activity
            android:label="@string/titleTimeline"
            android:name=".TimelineActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".BootReceiver" >
            <intent-filter >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".NetworkReceiver" >
            <intent-filter >
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service android:name=".UpdaterService" />
    </application>
</manifest>